<h1 class="title">Registrar un nuevo gasto</h1>
<h2 class="subtitle">Desde aquí podrá registrar un nuevo gasto.</h2>

<form (ngSubmit)="onSubmit()">
    <div class="field">
        <label class="label">Monto</label>
        <div class="control">
            <input [(ngModel)]="model.amount" required minlength="1" name="amount" class="input" type="number" placeholder="Ingrese el monto">
        </div>

    </div>

    <div class="field">
        <label class="label">Detalle</label>
        <div class="control">
            <input [(ngModel)]="model.detail" required min="1" minlength="5" name="detail" class="input" type="text" placeholder="Ingrese el sustento del gasto">
        </div>

    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link is-medium">Guardar</button>
        </div>
        <div class="control">
            <a routerLink="/outcomes" class="button is-link is-light is-medium">Volver</a>
        </div>
    </div>
</form>